# Файлы виртуального окружения
venv/
.env

# Папки с данными и результатами
input/
audio-from-input/
chunks/
not_realated/
raw_text/
summaries/

# Кэш Python и системные файлы
__pycache__/
*.pyc
.vscode/

master_script.py